---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardNotifications from "../components/vue/CardNotifications.vue";
---

<Layout title="Welcome to Astro.">
	<div class="h-screen bg-slate-100 flex justify-center items-center">
		<CardNotifications client:load />
	</div>
</Layout>
